/* Layout
 * ------
 * Using a negative margin technique, adapted from ZEN. The page is loaded by this order:
 *
 * 1. Header
 * 2. Content
 * 3. Navigation menus
 * 4. Sidebar Left
 * 5. Sideabr Right */
/* remove 'auto' and the width to switch to a fluid width */
/* line 16, ../sass/layout.sass */
#page {
    background-color: #FFFFFF;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom:0;
    border-color:#707969;
    border-style: solid;
    margin: 0 auto;
    padding: 10px 10px 100px;
    width: 960px;
    display: block;

}
#main{
  clear:both;
}

/* Layout rules. (Disclaimer: do not change if you're not sure you know what you're doing.) */
/* line 21, ../sass/layout.sass */
#content, #content-banner  {
  float: left;
  width: 525px;
  padding: 0;
  top:90px;
  margin-left:10px;


}

#banner_front{
    margin-bottom: -20px;
    margin-top: -20px;
}



/* line 27, ../sass/layout.sass */
.sidebar, .sidebar-banner {
    float: left;
    margin-bottom: 80px;
    top: 90px;
}

/* line 30, ../sass/layout.sass */
#sidebar-second {
  float: right;
}

/* line 33, ../sass/layout.sass */
#footer {
    background-color: #FFFFFF;
    border-color: #707969;
    border-left: 1px solid #707969;
    border-right: 1px solid #707969;
    border-style: solid;
    border-top: 1px solid #707969;
    float: none;
    margin: 0 auto;
    padding: 10px;
    height: 41px;
    width: 960px;
}

/* Layout Helpers */
/* line 38, ../sass/layout.sass */
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

.node{
  padding-bottom:5px;
}

#left_col_footer{
  float:left;
}
#right_col_footer .content, #left_col_footer .content{
    color: #707969;
    font-size: 1.3em;
    line-height: 1.3em;
  
}

#right_col_footer{
    float: right;
    font-size: 7pt;
    margin-bottom: -50px;
    min-height: 22px;
    margin-top: 10px;
}


#Leftheader{
    float: left;
    width: 45%;
}
#Rightheader{
    float: right;
    width: 50%;
    padding-bottom:30px;
}
#bread{
    position: absolute;
    top: 150px;
}

/* Sidebars width
 * --------------
 * Changing the width of the sidebars is dead easy, just change the
 * values below corresponding to the sidebar you want to modify.
 * Make sure you keep negative values as negative values.
 * For example, if I want to increase the width of the left sidebar
 * to 300px, I would have to change each '190' to '300'. */
/* line 56, ../sass/layout.sass */
.two-sidebars .center,
.sidebar-left .center {

}

/* line 60, ../sass/layout.sass */
#sidebar-first {
  width: 200px;
font-size:0.9em;
float:left;
}
#content-inner{
    float: left;
    position: relative;
    min-width: 525px;
}

#contentinner-no-left-no-right{
    float: right;
    position: relative;
    width: 741px;
}

#contentinner-no-left{
    float: right;
    position: relative;
    width: 520px;
}

/* line 66, ../sass/layout.sass */
.two-sidebars .center,
.sidebar-right .center {

}

/* line 70, ../sass/layout.sass */
#sidebar-second {
  width: 200px;
  z-index:0;
}

/* Columns Inner
 * -------------
 * You can change the padding inside the columns without changing the
 * width of them by just usinbg the INNER div of each column */
/* line 77, ../sass/layout.sass */
.inner {
  padding: 0;
}

/* Navigation styles
 * -----------------
 * The navigation is loaded after the content, so we need to make space
 * for it, equal to its height, so if you change the height of the navigation,
 * remember to adapt the margin top of the content and sidebars. */
/* line 85, ../sass/layout.sass */
#navigation {
    height:100px;
    width: 975px;

 
}

/* line 95, ../sass/layout.sass */
.with-navigation #content,
.with-navigation .sidebar {
  margin-top: 80px;
}

.with-navigation #content-banner,.with-navigation .sidebar-banner {
  margin-top: 130px;
}
