/*...BASICS...*/
.clear { 
	clear: both;
}

.floatLeft {
	float: left;
}

a:link, a:visited { 
	color: #FF7800;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 10px 0;
}

/*...STRUCTURE...*/
body { 
	color: #545454;
	background-color: #CDCDCD;
	font-family: Verdana, Geneva,sans-serif;
	font-size: 62.5%;
}

#wrapper, 
#footer { 
	width: 930px;
	margin: 0 auto;
	padding: 20px 15px 40px;
	background-color: #fff;
}

#footer {
	margin-bottom: 30px;
	padding: 10px 15px 20px 15px;
	border-top: 1px solid #707969;
}

#header { 
	height: 100px;
}

#main {
	padding-top: 30px;
	font-size: 1.3em;
	clear: both;
}

#leftCol, #rightCol { 
	width: 200px;
	min-height: 1px;
	float: left;
	margin: 0 15px 0 0;
}

#rightCol { 
	margin: 0 0 0 15px;
}

#content { 
	float: left;
}

.has-right-col {
	width: 500px;
}

.no-right-col {
	width: 715px;
}


/*...HEADER...*/
a#logo, 
h2#site-slogan {
	float: left;
}

h2#site-slogan {
	font-size: 2.4em;
	color: #68719C;
	margin: 28px 0 0 200px;
}

#headerText {
	float: right;
	margin-right: 42px;
	color: #9D9D9D;
	text-align: center;
}

#headerText h2 {
	font-size: 2.6em;
	margin-bottom: 4px;
}

#headerText h3 {
	font-size: 1.4em;
	font-style: italic;
}

/*...NAVIGATION...*/
#superfish .menu {
	background-color: transparent !important;
}

#superfish .menu li {
	margin-right: 4px;
	background-color: #758F8B;
}

#superfish .menu a {
	font-size: 1.2em;
	font-weight: normal !important;
}

/*...SUB-NAVIGATION...*/
.menu-block-1 {
	padding-bottom: 20px;
}

.menu-block-1 ul li {
	margin: 0 0 4px 2px;
	padding: 5px 0 0 0;
	color: #ff7800;
	list-style: none outside none;
}

.menu-block-1 .menu .menu {
	margin-left: 15px;
}

.menu-block-1 ul li ul li.leaf {
	list-style: disc outside none;
}

.menu-block-1 ul li a.active { 
	color: #FF7800;
	font-weight: bold;
}

/*...FEATURE AREA...*/
#featureArea {
	padding-bottom: 20px;
}

/*...COLUMNS...*/
#leftCol .block, 
#rightCol .block {
	margin-bottom: 8px;
	padding: 6px;
	/*background: url(../images/grad.jpg) repeat-x 0 0;*/
	/*border-top: 1px solid #758F8B;*/
	background: #D9E8E3;
}

#leftCol #block-block-17 .content {
	width: 160px;
	margin: 0 auto;
}

#leftCol .block h4, 
#rightCol .block h4 {
	font-size: 1.2em;
	margin-bottom: 4px;
}

/*...TITLES...*/
#page-title,
#content h2 {
	background-color: #eee;	
	padding: 6px;
	margin-bottom: 10px;
	font-size: 1.2em;
}

#page-title {
	font-size: 1.6em;
	font-weight: bold;
}

.title a {
	color: #333;
	font-weight: normal;
	font-size: 0.8em;
	display: block;
}

/*...NODE STYLES...*/
.node-teaser {
	margin-bottom: 25px;
}

.node-teaser ul.inline {
	margin-top: 10px;
	display: inline-block !important;
}

.node-teaser ul.inline li {
	padding: 0 12px 0 0;
}

#node-7 ul, 
#node-7 ol {
	margin-bottom: 20px;
}

/*...BLOCK STYLES...*/
#block-system-user-menu h2 {
	display: none;
	visibility: hidden;
}

#block-system-user-menu ul li.leaf {
	list-style: none outside none;
}

/*...SEARCH FORM...*/
#search-block-form input { 
	height: 20px;
	border: 1px solid #333;
	padding: 4px;
}

#search-block-form input#edit-submit {
	height: 27px;
	padding: 4px;
}

/*...TABLE STYLES...*/
table { 
	width: 100%;
}
	
td, th {
	padding: 6px;
	border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px 0 0;
}

th {
	padding: 6px 8px 6px 2px;
}













